OpFolio/venv/pyvenv.cfg
OpFolio/__pycache__/*
OpFolio/.idea/inspectionProfiles/profiles_settings.xml
OpFolio/.idea/misc.xml
OpFolio/.idea/modules.xml
OpFolio/.idea/OpFolio.iml
OpFolio/.idea/vcs.xml
OpFolio/.idea/workspace.xml
OpFolio/.idea/*
sqlite-tools-win32-x86-3380500.zip
sqlite-tools-win32-x86-3380500/sqldiff.exe
sqlite-tools-win32-x86-3380500/sqlite3.exe
sqlite-tools-win32-x86-3380500/sqlite3_analyzer.exe
OpFolio/__pycache__/alphavantageAPI.cpython-39.pyc
OpFolio/__pycache__/ameriTradeAPI.cpython-39.pyc
OpFolio/__pycache__/portfolio.cpython-39.pyc
OpFolio/__pycache__/stock.cpython-39.pyc
OpFolio/__pycache__/tradingAPI.cpython-39.pyc
