<!--
    The base.html exdents the basic structure of a html side
    This includes the Navbar
    Every other html file needs to extend this file via {%extends "base.html"%}

    You also need to define these two blocks:
    {%block head%}{%endblock%} For additional html ines in the header
    {% block content %}{%endblock%} For additional html lines in the body
-->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {%block head%}
    {%endblock%}
</head>
<body>
    <!-- The NavMenu of the Webpage-->
    <div id="menu">
        <a href="/">Home</a>
        <a href="">Test</a>
    </div>
    {% block content %}
    {%endblock%}
</body>
</html>