{%extends "base.html"%}
{%block head%}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>OpFolio</title>
{%endblock%}
    
    

{%block content%}
    
    <div class="depotStatus">
        <div class="depotOuterSpacer"></div>
        <div id="depotwert"> 
            <p class="depotValues">Depotwert : {{depotValue[0]}}</p>
            <p class="depotDiff">{{depotValue[2]}}|{{depotValue[3]}}</p>
        </div>
        <div id="depotMiddleSpacer"></div>
        <div id="depotKaufwert">
            <p class="depotValues">Kaufwert : {{depotValue[1]}}</p>
            <p class="depotDiff">{{depotValue[4]}} € | {{depotValue[5]}} %</p>
        </div>
        <div class="depotOuterSpacer"></div>
    </div>
    <div id="stockTableWrapper">
        
        <table id="stockTable">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Curr. price</th>
                <th>WKN</th>
                <th>Typ</th>
                <th>Diff %/ab</th>
                <th>Kaufkurs/Kaufwert </th>
            </tr>
            {%for key in stockList %}           
            <tr>  
                {% for x in stockList[key] %}
                <td> <a href="stock/{{key}}">{{x}}</a></td>
                {% endfor %}               
            </tr>
            {% endfor %}
        </table>
        
    </div>
    
{%endblock%}
