{%extends "base.html"%}
{%block head%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.js"></script>
    <script src="{{ url_for('static', filename='stock.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='singleStockView.css') }}">

{%endblock%}
{%block content%}
    <div id ="mainDiv">
        <div style="float: left;width: 50%;">
            <div id ="stockNameDiv"></div>
            <div id ="stockPriceDiv"></div>
            <div style="height: 2px;width: 100%;background-color: rgb(77, 77, 77);margin-top: 4px;margin-bottom: 4px;"></div>
            <div id ="stockInfoDiv"></div>
        </div> 
        <div id ="chartDiv" style="float: right;">
            <canvas id="todayChart" style="width:90%;height: 300px;"></canvas>
        </div>
    </div>
    
{%endblock%}
