

#depotwert {
    background-color: rgb(56, 56, 58);
    height: 80px;
    width: 30%;
    float: left;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.depotDiff{
    font-weight: 300;
}
#depotKaufwert {
    
    background-color: rgb(56, 56, 58);
    font-weight: bold;
    height: 80px;
    width: 30%;
    float: left;
    text-align: center;
    line-height: 40px;
}
#depotMiddleSpacer {
    height: 80px;
    width: 20%;
    float: left;
}
.depotOuterSpacer{
    height: 80px;
    width: 10%;
    float: left;
}



#stockTableWrapper{
    margin-top: 100px;
    margin-right: 10%;
    margin-left: 10%;
    width: 70%;
    height: 600px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(56, 56, 58);
}
#stockTable{
    float: left;
    width: 100%;
    list-style-type: none;
    text-align: center;
    background-color: rgb(56, 56, 58);
    border-collapse: collapse;
}
#stockTable td{
    height: 60px;
    background-color: rgb(56, 56, 58);
    border-bottom: 1px solid rgb(139, 139, 139);
}
#stockTable th{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(139, 139, 139);
    background-color: rgb(56, 56, 58);
}
#stockTable a{
    text-decoration: none;
    color:rgb(228, 228, 228);
}

